* {
    box-sizing: border-box;
}
body {
    margin: 0;
    width: 100%;
    
}
.box {
    float: left;
    width: 40%;
}
.box1, .box6 {
    height: 400px;
    width: 60%;
    background-color: red;    
}
.box3, .box8 {
    height: 200px;
    width: 100%;
    background-color: green;  
}
.box4, .box9 {
    height: 200px;
    width: 100%;
    background-color: blue;    
}

.box5 {
    background-color: white;
    height: 400px;
    width: 15px;
    position: absolute;
    right: 40%;
    top: 450px;
}
span {
    color: white;
    display: flex;
    justify-content: center;
}
.box6, .box7, .box10, .box11, .box12 {
    margin-top: 50px;
}

.boxn {
    height: 400px;
    float: left;
}

.box10 {   
    background-color: red;
    width: 33.333333%;
}

.box11 {
    background-color: green;
    width: 33.333333%;
}

.box12 {
    background-color: blue;
    width: 33.333333%;
}

.box13 {
    height: 400px;
    width: 15px;
    background-color: white;
    margin-left: -10px;
    display: inline-block;
}

.box14 {
    height: 400px;
    width: 15px;
    background-color: white;
    margin-left: -5px;
    display: inline-block;
}



