*{
    box-sizing: border-box;
}
body {
    width: 100%;
    background-color: skyblue;
    margin: 0;
    
}
#menu {
    display: inline-flex;
}
.tieude{
    width: 20%;
    padding-left: 5%;
}
#phong img{
    width: 100%;
}
.noidung{
    padding-left: 8%;
    width: 80%;
    padding-right: 8%;
    text-align: justify;
}

#main-menu{
    width:200px;
    min-height: 50%;
    
    background-color: #3498db;
}
#main-menu a{
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10%;
    margin-right: 10%;
    border-radius: 5%;
    color: wheat;
    font-size: 100%;
    position: relative;
}
.content{
    width: 100%;
}
.p0{
    position: absolute;
    left: 20px;
    top: 40px;
}
.p1{
    position: absolute;
    left: 20px;
    top: 50px;
}
.p2{
    position: absolute;
    left: 20px;
    top: 60px;
}
.p3{
    position: absolute;
    left: 20px;
    top: 70px;
}
.p4{
    position: absolute;
    left: 20px;
    top: 80px;
}
.p5{
    position: absolute;
    left: 20px;
    top: 90px;
}
.p6{
    position: absolute;
    left: 20px;
    top: 100px;
}
.p7{
    position: absolute;
    left: 20px;
    top: 110px;
}
.p8{
    position: absolute;
    left: 20px;
    top: 120px;
}
.p9{
    position: absolute;
    left: 20px;
    top: 130px;
}
#backtotop{
    
    position: absolute;
    bottom: 10%;
    right: 5%;
}
.loading{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 10%;
}
#main-menu a:link {
    color: black;

}
#main-menu a:active {
    color: black;
}
#main-menu a:visited {
    color: black;
}
#main-menu a:hover {
    color: red;
}
.content img{
    width: 80%;
    height: 80%;
}
